* {
    border: 0px;
    margin: 0px;
    /* outline: 3px dotted red; */
    padding: 0px;
}
body {
    background-color: #245076;
    width: 970px;
    margin: 0px auto;
}
.heading_content img,
div {
    display: inline-block;
    vertical-align: top;
}
.heading_content div {
    margin-top: 20px;
    margin-left: 150px;
}
.heading_content p {
    color: #fefefe;
}
.heading_content p a {
    color: #edc934;
}
.heading_content span {
    color: #171717;
}
.heading_content div form a {
    color: #fefefe;
    border: 1px solid #fefefe;
    border-radius: 5px;
    background-color: #245076;
    padding: 2px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
}
form {
    background-color: #354049;
    width: 230px;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px 1px #000000;
}
.heading_content div form input {
    margin-top: 10px;
    margin-left: 15px;
    padding: 3px;
    outline: none;
}
.section_option a {
    color: #fefefe;
    text-decoration: none;
    margin-left: 80px;
}
.section_option {
    background-color: #3978ad;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 9px 1px #171717;
}
.section_content ul {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
    color: #edc934;
}
.section_content a {
    color: #fefefe;
}
.section_content p {
    width: 700px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #fefefe;
}
.section_content p span {
    color: #edc934;
    display: block;
    font-size: 24px;
    padding: 5px 0px;
}
.section_content p .zen_python {
    color: #fefefe;
}
.getting_started,
.applications {
    display: inline-block;
    width: 300px;
    margin: 10px 90px;
    text-align: center;
    border-top: 3px solid #b0cde7;
}
.more_information {
    background-color: #fefefe;
    width: auto;
    border-radius: 10px;
    border-top: 3px solid #000;
}
.more_information a {
    text-decoration: none;
    color: #b0cde7;
}
.other_information ul {
    text-align: center;
    width: 970px;
    margin-top: 30px;
}
.other_information ul a {
    text-decoration: none;
    color: #b0cde7;
    margin-left: 20px;
    font-size: 20px;
}
.other_information p {
    text-align: center;
    color: #b0cde7;
    font-size: 12px;
}
